.container{
  min-height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  color: #fff;
  padding: 30px;
}
.posts{
  display: grid;
  /* vai repetir issopara todos os elementos, para o tamanho minimo do elemento ele
    ira ter 280 e caso ele não caiba usara o espaço disponivel na tela
  */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
.post{
  background: linear-gradient(158deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
  box-shadow: 0px 9px 24px -7px rgb(20, 108, 148);
  padding: 30px;
  transition: transform 100ms ease-in-out;
}

.post:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.post img{
  max-width: 100%;
}




