.container{
  min-height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  color: #a3dcf0;
  padding: 30px;
}
.button-container{
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.search-container{
  margin-bottom: 30px;
}
.search-container h1{
  margin-bottom: 30px;
}


